@page "/alunos"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h1 class="display-2"> Lista de Alunos</h1>

<Preload>

</Preload>

<div class="info">
    <Alert Color="AlertColor.Primary">
        <h4 class="alert-heading"><Icon Name="IconName.InfoCircleFill" class="me-2"> </Icon> Sobre a página</h4>
        <p>
            A página contém informações sobre os alunos registrados no sistema, você pode ver informações adicionais como número
            e email clicando no <strong>nome de algum aluno.</strong> Caso seja preciso alterar alguma informação, clique no botão <strong> "Editar" </strong>
        </p>
    </Alert>
</div>

<div class="alunos">
    <div class="alunoDados">
        <Grid @ref="grid"
              TItem="Aluno"
              Class="table table-hover table-bordered table-striped"
              DataProvider="AlunosDataProvider"
              AllowFiltering="true"
              Responsive="true"
              AllowPaging="true"
              AllowSorting="true"
              PageSize="5"
              FiltersRowCssClass="bg-primary text-white bg-opacity-25 border-bottom-0"
              HeaderRowCssClass="bg-primary text-white border-bottom-0">

            <GridColumn TItem="Aluno" HeaderText="Nome" SortKeySelector="@(item => item.Name)" PropertyName="Name" IsDefaultSortColumn="true" Sortable=true >
                @context.Name
            </GridColumn>
            <GridColumn TItem="Aluno" HeaderText="Serie"  PropertyName="Serie" >
                @context.Serie
            </GridColumn>
            <GridColumn TItem="Aluno" HeaderText="Turma" SortKeySelector="@(item => item.Turma)" PropertyName="Turma" Sortable=true>
                @context.Turma
            </GridColumn>
            <GridColumn TItem="Aluno" HeaderText="Ações" Filterable=false>
                <Button Color="ButtonColor.Primary" @onclick="() => EditAluno(context.Id)"> <Icon Name="IconName.Pen"></Icon> Editar</Button>
            </GridColumn>
        </Grid>
    </div>
</div>

@code {
    private BlazorBootstrap.Grid<Aluno> grid = default!;
    private IEnumerable<Aluno> alunos = default!;

    [Inject] protected PreloadService preloadService { get; set; }

    private async Task<GridDataProviderResult<Aluno>> AlunosDataProvider(GridDataProviderRequest<Aluno> request)
    {
        try
        {
            preloadService.Show();
            if (alunos is null)
            {
                var result = await Http.GetFromJsonAsync<List<Aluno>>("api/aluno");
                if (result != null)
                    alunos = result;
            }
        }
        catch
        {

        }
        finally
        {
            preloadService.Hide();
        }
        return await Task.FromResult(request.ApplyTo(alunos));
    }

    void EditAluno(int id)
    {
        NavigationManager.NavigateTo($"/aluno/{id}");
    }


}
